/*csslint order-alphabetical: false*/

.fo-menu{
    height: 80px;
    background-color: aqua;
}

.menupont {
    height: 37px;
    /*körbe minden hol 10px a margin */
   /* margin-left: 10px;*/
    /*margin-top: 10px;*/
   /* margin-bottom: 10px;*/
    margin: 10px 0 10px 10px;
    
    background-color: blue;
    color: white;
    display: inline-block;
    /*padding-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
    
    az előző 3 sor rövidítése*/
    padding: 22px 10px 0 10px;
}

.tartalom {background-color: lightgray;
height: 1000px;
}